/* VARIABLES */



/* GENERAL */

html{
  height: 100%;
  box-sizing: border-box;
}

img{
  display: block;
  height: auto;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
  color: #F5F5F7;
  /* font-size: 16px; */
  /* font-weight: 400; */
  /* line-height: var(--main-line-height); */
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container{
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */
.site-main{
  flex-grow: 1;
}

.title{
  text-align: center;
}
.language{


  text-align: center;
}

.lang_russian{
  display: inline-block;
  width: 100%;
  max-width: 230px;
  text-align: center;
  margin-top: 20px;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #0ccf6b;
  border-radius: 5px;
  margin-bottom: 20px;
}

